# Environment variables
.env
.env.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Logs
*.log
logs/

# Build outputs
dist/
build/
.next/
out/

# Cache
.cache
.eslintcache

# Misc
.prettierignore
